@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.react-calendar{
  box-shadow: 0px 2.89157px 14.45783px 0px rgba(0, 0, 0, 0.06);
  border:none!important;
  max-width: 320px!important;
  padding: 18px;
}
.react-calendar__month-view__days__day--weekend{
  color:#140D31!important;
}
.react-calendar__tile--range,.react-calendar__tile--hover{
  color: rgba(255,187,11,0.5)!important;
  background: none!important;

}
.react-calendar__month-view__weekdays__weekday abbr{
  text-decoration: none!important;
  color: #726E83;
  text-align: center;
  font-size: 10.12px;
  font-weight: 500;
}
.react-calendar__navigation__label__labelText{
  color:#140D31;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14.458px;
  font-style: normal;
  font-weight: 400;
}
.react-calendar__tile--rangeStart,.react-calendar__tile--rangeEnd,.react-calendar__tile--hoverEnd,.react-calendar__tile--hoverStart{
  background: rgba(255,187,11,0.5)!important;
  color:#140D31!important;
}
.react-calendar__tile{
  aspect-ratio: 1;
  text-align: center;
  border-radius: 50%;

}
.react-calendar__tile--now{
  color:#D10002;
  background: none!important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

*:not(body)::-webkit-scrollbar {
  display: none;
}

.mySwiper .swiper-button-next{
  color: white;
  background-color: rgb(34, 155, 247);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding: 10;
  scale: 0.4;
  transform:  translateX(50px);
}
.mySwiper .swiper-button-prev{
color: white;
background-color: rgb(34, 155, 247);
border-radius: 100%;
width: 100px;
height: 100px;
padding: 10;
scale: 0.4;
transform:  translateX(-50px);
}
.mySwiper .swiper-button-disabled{
display: none;
opacity: 1;
}

@media only screen and (max-width: 600px) {
  .mySwiper .swiper-button-next {
    position: absolute;
   
  }
  .mySwiper .swiper-button-prev {
    position: absolute;
  }
 
}

@layer base {
  .main-content-wrapper {
    @apply mx-auto max-w-screen-xl px-5 md:px-20 xl:px-0
  }
}